[submodule "Proyecto_Final_Pagina_de_Recetas_Grupo2"]
	path = Proyecto_Final_Pagina_de_Recetas_Grupo2
	url = https://github.com/Gabriel-Canto/Proyecto_Final_Pagina_de_Recetas_Grupo2
[submodule "PROYECTO"]
	path = PROYECTO
	url = https://github.com/Gabriel-Canto/Proyecto_Final_Pagina_de_Recetas_Grupo2
